.header {
  display: flex;
  align-items: center;
  padding: 10px;
}

.page-header {
  font-size: 42px;
  text-align: center;
  margin-top: 30px;
  font-weight: bold;
}
.page-heder:hover .page-header::after {
  content: "Balls";
}

.logo {
  width: 200px;
  margin-right: 10px;
}

.center-container {
  margin: auto;
}

.tab {
  border: 1px solid black;
  color: cornflowerblue;
  padding: 10px;
  font-size: 25px;
}
#synopsis-container {
  margin: 0 20%;
  line-height: 2;
}
#tab-container {
  text-align: center;
  margin: 25px;
}
td {
  padding: 5px;
}

#nav-container {
  max-width: 100%;
  margin-left: 0;
  margin-right: 0;
  padding-left: 0;
  padding-right: 0;
}