.header {
  display: flex;
  align-items: center;
  padding: 10px;
}
.center-text {
  text-align: center;
}
.column-header {
  font-weight: bold;
  font-size: 30px;
}
.page-header {
  font-size: 42px;
  text-align: center;
  margin-top: 30px;
  font-weight: bold;
}
.logo {
  width: 200px;
  margin-right: 10px;
}
.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
  max-height: 250px;
  max-width: 525px;
}
.center-container {
  margin: auto;
}
.tab {
  border: 1px solid black;
  color: cornflowerblue;
  padding: 10px;
  font-size: 25px;
}
#synopsis-container {
  margin: 0 20%;
  line-height: 2;
}
#tab-container {
  text-align: center;
  margin: 25px;
}
td {
  padding: 5px;
}

#nav-container {
  max-width: 100%;
  margin-left: 0;
  margin-right: 0;
  padding-left: 0;
  padding-right: 0;
}
